<template>
    <section class="sign-in main">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="/register" class="signup-image-link">Create an account</a>
                    <a href="/password/email" class="signup-image-link">Forgot password</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <form autocomplete="true" @submit.prevent="login" method="post">
                        <alert-error :form="form" v-if="form.errors.has('verification')">
                                {{form.errors.get('verification')}}.
                            <a href="/verification/resend">Resend verification email</a>
                        </alert-error>
                        <div class="form-group">
                            <label for="login"><i class="zmdi zmdi-email"></i></label>
                            <input type="text" name="login" id="login"
                                   v-model="form.login"
                                   :class="{'is-invalid':form.errors.has('user_name')||form.errors.has('user_name')}"
                                   placeholder="Username or Email"/>
                            <has-error :form="form" field="user_name"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="your_pass" id="your_pass"
                                   v-model="form.password"
                                   :class="{'is-invalid':form.errors.has('password')}"
                                   placeholder="Password"/>
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group form-button">
                            <button type="submit" class="btn btn-primary  text-uppercase">
                                <span v-if="form.busy">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </span>
                                Login</button>
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>


<script>
    import Vue from 'vue'
    import { Form, HasError, AlertError,AlertSuccess } from 'vform'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)
    Vue.component(AlertSuccess.name, AlertSuccess)
    export default {
        data(){
            return {
                form: new Form({
                    login: '',
                    password: '',
                })
            };
        },
        methods: {
            login(){
                let app = this
                this.form.busy=true;

                this.$auth.login({
                    data:this.form,
                    success: function (res) {

                        app.form.busy=false;
                        app.$auth.token(null, res.data.token, false);
                    },
                    error: function (e) {
                        console.log(e.response)
                        app.form.busy=false;
                        app.form.errors.set(e.response.data.errors)
                    },
                    redirect: {name: 'chat'},
                    remember: true,
                    staySignedIn: true,
                    fetchUser: true
                });

            },

        }
    }
</script>
