<template>
    <!-- Sign up form -->
    <section class="signup main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form autocomplete="off" @submit.prevent="register" method="post">
                        <alert-success :form="form">
                            We have sent you an email to activate account.
                        </alert-success>
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" v-model="form.name"
                                   :class="{'is-invalid':form.errors.has('name')}"
                                   placeholder="Your Name"/>
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="user_name" id="user_name" v-model="form.user_name"
                                   :class="{'is-invalid':form.errors.has('user_name')}"

                                   placeholder="User Name"/>
                            <has-error :form="form" field="user_name"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email"
                                   v-model="form.email"

                                   :class="{'is-invalid':form.errors.has('email')}"
                                   placeholder="Your Email"/>
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="pass"
                                   v-model="form.password"

                                   :class="{'is-invalid':form.errors.has('password')}"
                                   placeholder="Password"/>
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="password_confirmation" id="re_pass"
                                   v-model="form.password_confirmation"

                                   :class="{'is-invalid':form.errors.has('password_confirmation')}"
                                   placeholder="Repeat your password"/>
                            <has-error :form="form" field="password_confirmation"></has-error>
                        </div>

                        <div class="form-group form-button">
                            <button type="submit" class="btn btn-primary  text-uppercase">
                                <span v-if="form.busy">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </span>
                                Register</button>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue'
    import { Form, HasError, AlertError,AlertSuccess } from 'vform'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)
    Vue.component(AlertSuccess.name, AlertSuccess)
    export default {
        data(){
            return {
                form: new Form({
                    name: '',
                    user_name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    agree_term:''
                })
            };
        },
        methods: {
            register(){
                this.form.post('/register')
                    .then(({ data }) => { this.form.reset() })
                    .catch(({ error }) => { console.log(error) })

            }
        }
    }
</script>


