<template>
    <!-- Sign up form -->
    <section class="signup main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Reset password</h2>
                    <form autocomplete="off" @submit.prevent="submit" method="post">
                        <alert-success :form="form">
                                {{status}}
                        </alert-success>

                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email"
                                   v-model="form.email"
                                    readonly
                                   :class="{'is-invalid':form.errors.has('email')}"
                                   placeholder="Your Email"/>
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="pass"
                                   v-model="form.password"

                                   :class="{'is-invalid':form.errors.has('password')}"
                                   placeholder="Password"/>
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="password_confirmation" id="re_pass"
                                   v-model="form.password_confirmation"

                                   :class="{'is-invalid':form.errors.has('password_confirmation')}"
                                   placeholder="Repeat your password"/>
                            <has-error :form="form" field="password_confirmation"></has-error>
                        </div>

                        <div class="form-group form-button">
                            <button type="submit" class="btn btn-primary  text-uppercase">
                                <span v-if="form.busy">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </span>
                                Reset</button>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img  :src="this.$urlBase+'/images/signup-image.jpg'" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue'
    import { Form, HasError, AlertError,AlertSuccess } from 'vform'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)
    Vue.component(AlertSuccess.name, AlertSuccess)
    export default {
        data(){
            return {
                form: new Form({
                    email: '',
                    password: '',
                    password_confirmation: '',
                    token:''
                }),
                status:''
            };
        },
        methods: {
            submit(){
                this.form.post('/password/reset')
                    .then( res  => {
                        this.status=res.data.status
                        if(this.status){
                            this.$router.push({ path: '/login' })
                            this.form.reset()
                        }else {
                            this.status= res.data.email
                        }
                 })
                    .catch(error  => { console.log(error) })
            }
        },
        created(){

            this.form.email=this.$route.query.email
            this.form.token=this.$route.params.token
        }
    }
</script>


