<template>
    <section class="sign-in main">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img  :src="this.$urlBase+'/images/signin-image.jpg'" alt="sing up image"></figure>
                    <div class="flex-row">
                        <a href="/login" class="signup-image-link">Back to login </a>
                    </div>
                </div>

                <div class="signin-form">
                    <h2 class="form-title"> Reset password</h2>
                    <form autocomplete="off" @submit.prevent="reset" method="post">
                        <alert-success :form="form" >
                            {{this.status}}.
                        </alert-success>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="text" name="email" id="email"
                                   v-model="form.email"
                                   :class="{'is-invalid':form.errors.has('email')}"
                                   placeholder="Your Email"/>
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group form-button">
                            <button type="submit" class="btn btn-primary  text-uppercase">
                                <span v-if="form.busy">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </span>
                                Send Reset Link</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</template>


<script>
    import Vue from 'vue'
    import { Form, HasError, AlertError,AlertSuccess } from 'vform'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)
    Vue.component(AlertSuccess.name, AlertSuccess)
    export default {
        data(){
            return {
                form: new Form({
                    email: ''
                }),
                status:''
            };
        },
        methods: {
            reset(){
                this.form.post('/password/email')
                    .then( res  => {
                        this.status=res.data.status
                        this.form.reset() })
                    .catch(error  => { console.log(error) })
            },

        }
    }
</script>
