<template>
    <section class="sign-in main">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="http://api_laravel.test/images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">Return login</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Send Verification email</h2>
                    <form autocomplete="off" @submit.prevent="Send" method="post">
                        <alert-success :form="form">
                            We have resent the verification email
                        </alert-success>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="text" name="email" id="email"
                                   v-model="form.email"
                                   :class="{'is-invalid':form.errors.has('email')}"
                                   placeholder="Your Email"/>
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group form-button">
                            <button type="submit" class="btn btn-primary  text-uppercase">
                                <span v-if="form.busy">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </span>
                                Send</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</template>


<script>

    import Vue from 'vue'
    import { Form, HasError, AlertError,AlertSuccess } from 'vform'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)
    Vue.component(AlertSuccess.name, AlertSuccess)
    export default {
        data(){
            return {
                form: new Form({
                    email: '',
                })
            };
        },
        methods: {
            Send(){
                this.form.post('/verification/resend')
                    .then( data  => { this.form.reset() })
                    .catch(error  => { console.log(error) })
            },

        }
    }
</script>
