<template>
    <div class="bg-img">
        verifi
    </div>
</template>


<script>

    export default {
        async beforeMount() {
            await this.verifyEmail();
        },

        methods: {
            verifyEmail() {
                let url = window.location.href
                axios.post(`${url}`)
                    .then(response => {
                        this.$router.push({ path: '/login' })
                    })
                    .catch(error => {
                        console.log(error.response);
                    })

            },

        }
    }
</script>
