/*app scroll*/
.theme-light .app-scroll::-webkit-scrollbar-thumb,
.theme-light .app-scroll-thin::-webkit-scrollbar-thumb{
    background:#d8dce0;
}
.theme-light .app-scroll-thin::-webkit-scrollbar{
    background: #eee;
}
.theme-light .app-scroll::-webkit-scrollbar:hover,
.theme-light .app-scroll-thin::-webkit-scrollbar:hover{
    background: #eee;
}

.theme-light .messenger{
    background: #fff;
}
.theme-light .messenger-search{
    background: #f7f7f7;
    color: #333;
}
.theme-light .messenger-listView{
    background: #fff;
    border: 1px solid #eee;
}
.theme-light .messenger-listView-tabs{
    border-bottom: 1px solid #eee;
}
.theme-light .messenger-listView-tabs a:hover,
.theme-light .messenger-listView-tabs a:focus{
    background-color: #f7f7f7;
}
.theme-light .messenger-favorites div.avatar{
    border: 2px solid #fff;
}
.theme-light .messenger-list-item:hover{
    background: #f7f7f7;
}
.theme-light .messenger-messagingView {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fafaff;
}
.theme-light .m-header-messaging {
    background: #fff;
}
.theme-light .messenger-infoView {
    background: #fff;
    border: 1px solid #eee;
}
.theme-light .messenger-infoView>p{
    color: #000;
}
.theme-light .divider{
    border-top: 1px solid #e0e0e0;
}
.theme-light .messenger-sendCard{
    background: #fff;
    border-top: 1px solid #eee;
}
.theme-light .attachment-preview>p{
    color: #333;
}
.theme-light .m-send{
    color: #333;
}
.theme-light .message-card p{

    color: #656b75;
    box-shadow: 0px 6px 11px rgba(18, 67, 105, 0.03);
}
.theme-light .m-li-divider{
    border-bottom: 1px solid #ebebeb;
}
.last-message{
    color: #4e555b;
}
.theme-light .m-header a,
.theme-light .m-header a:hover,
.theme-light .m-header a:focus{
    text-decoration: none;
    color: #606679;
}
.theme-light .messenger-list-item td p{
    color: #606679;
}
.theme-light .activeStatus{
    border: 2px solid #fff;
}
.theme-light .messenger-list-item:hover .activeStatus{
    border-color: #f7f7f7;
}
.theme-light .messenger-favorites>div p{
    color: #4a4a4a;
}




/*
***********************************************
* Placeholder loading
***********************************************
*/
.theme-light .loadingPlaceholder-body div,
.theme-light .loadingPlaceholder-header tr td div {
    background: #f6f7f8;
    background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #eaecf3 20%, #f6f7f8 40%, #f6f7f8 100%);
}

/*
***********************************************
* App Modal
***********************************************
*/

.theme-light .app-modal-card{
    background: rgba(255, 255, 255, 0.89);
}
.theme-light .app-modal-header{
    color: #000;
}
.theme-light .app-modal-body{
    color: #000;
}



/*
*****************************************
* Responsive Design
*****************************************
*/
@media (max-width: 1060px){
    .messenger-infoView {
        box-shadow: 0px 0px 20px rgba(18, 67, 105, 0.06);
    }
}
@media (max-width: 980px){
    .messenger-listView{
        box-shadow: 0px 0px 20px rgba(18, 67, 105, 0.06);
    }
}

/*Drak Mode Page */
/*app scroll*/
.theme-dark .app-scroll::-webkit-scrollbar-thumb,
.theme-dark.app-scroll-thin::-webkit-scrollbar-thumb{
    background:#323232;
}
.theme-dark.app-scroll-thin::-webkit-scrollbar{
    background: #2c2c2c;
}
.theme-dark.app-scroll::-webkit-scrollbar:hover,
.theme-dark .app-scroll-thin::-webkit-scrollbar:hover{
    background: #2c2c2c;
}




.theme-dark .messenger{
     background: #272727;
}
.theme-dark .messenger-search{
    background: #323232;
    color: #fff;
}
.theme-dark .messenger-listView{
    /* background: #272727; */
    /* border: 1px solid #323232; */
}
.theme-dark .messenger-listView-tabs{
    border-bottom: 1px solid #323232;
}
.theme-dark .messenger-listView-tabs a:hover,
.theme-dark .messenger-listView-tabs a:focus{
    background-color: #323232;
}
.theme-dark .messenger-favorites div.avatar{
    border: 2px solid #272727;
}
.theme-dark .messenger-list-item:hover{
    background: #323232;
}
.theme-dark .messenger-messagingView {
    /* border-top: 1px solid #323232; */
    /* border-bottom: 1px solid #323232; */
    /* background: #272727; */
}
.theme-dark .m-header-messaging {
    background: #323232;
}
.theme-dark .messenger-infoView {
    /* background: #272727; */
    /* border: 1px solid #323232; */
}
.theme-dark .messenger-infoView>p{
    color: #fff;
}
.theme-dark .divider{
    border-top: 1px solid #2f2f2f;
}
.theme-dark .messenger-sendCard{
    background: #323232;
    border-top: 1px solid #272727;
}
.theme-dark .attachment-preview>p{
    color: #fff;
}
.theme-dark .m-send{
    color: #fff;
}
.theme-dark .message-card p{
    background: #323232;
    color: #fff;
}
.theme-dark .m-li-divider{
    border-bottom: 1px solid #323232;
}
.theme-dark .m-header a,
.theme-dark .m-header a:hover,
.theme-dark .m-header a:focus{
    text-decoration: none;
    color: #fff;
}
.theme-dark .messenger-list-item td p{
    color: #fff;
}
.theme-dark .activeStatus{
    border: 2px solid #272727;
}
.theme-dark .messenger-list-item:hover .activeStatus{
    border-color: #323232;
}
.theme-dark .messenger-favorites>div p{
    color: #ffffff;
}


/*
***********************************************
* Placeholder loading
***********************************************
*/
.theme-dark .loadingPlaceholder-body div,
.theme-dark .loadingPlaceholder-header tr td div {
    background: #323232;
    background-image: -webkit-linear-gradient(left, #323232 0%, #323232 20%, #323232 40%, #323232 100%);
}

/*
***********************************************
* App Modal
***********************************************
*/

 .app-modal-card{
    background: rgba(50, 50, 50, 0.94);
}
.theme-dark .app-modal-header{
    color: #fff;
}
.theme-dark .app-modal-body{
    color: #fff;
}
.theme-dark  .end-date-chat span{
    background: #272727;
}

