<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import TopMenu from './MenuTop'

    export default {
        components: {
            TopMenu
        }
    }
</script>
