<template>
    <div class=" messenger-messagingView">
        <picker v-if="emoStatus" set="emojione" @select="onInput" class="emoji"
                :showPreview="false" :showSearch="false"
                title="Pick your emoji…"/>
        <nav-chat v-if="this.$store.state.selected_id"></nav-chat>
        <chat-messages v-bind:onSend="this.on_send"></chat-messages>
        <div class="typing" v-if="typing.user">{{typing.user}} typing
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span></div>
        <div class="messenger-sendCard" style="display: block;" v-if="this.$store.state.selected_id">
            <div class="attachment-preview" v-if="file">
                <span class="fa fa-times cancel " @click="removeImage"></span>
                <img class="image-file chat-image" :ref="'image'" v-if="preview"/>
                <p><span class="fas fa-file-image"></span>{{ file.name }}</p>
            </div>
            <div class="form">
                <span @click="toggleEmo"><i class="material-icons">mood</i></span>
                <label>
                    <span class="fa fa-image"></span>
                    <input type="file" class="upload-attachment" name="file" accept="image/*"
                           @change="processFile($event)">
                </label>

                <textarea id="editor-area" name="message" class="m-send app-scroll" placeholder="Type a message.."
                          v-model="messages_data"
                          @keyup.enter="sendMessage()"
                          @keydown="onTyping()"
                          @keyup="outTyping()"
                          style="overflow: hidden; overflow-wrap: break-word;">
            </textarea>
                <button style="display: inline-flex">
                    <span class="fa fa-paper-plane" @click="sendMessage()"></span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {Picker} from 'emoji-mart-vue'
    import Message from './Message'
    import NavChat from './NavChat'

    export default {
        data() {
            return {
                messages_data: '',
                file: '',
                preview: false,
                on_send: false,
                emoStatus: false,
                auth_name: '',
                typing: {},
                typingClock: null,

            }
        },
        components: {
            Picker,
            'chat-messages': Message,
            'nav-chat': NavChat
        },

        methods: {
            toggleEmo() {
                this.emoStatus = !this.emoStatus;
            },
            onInput(e) {
                if (!e) {
                    return false;
                }
                if (!this.messages_data) {
                    this.messages_data = e.native;
                } else {
                    this.messages_data = this.messages_data + e.native;
                }
                this.emoStatus = false;
            },
            processFile(e) {
                this.file = e.target.files[0]
                let reader = new FileReader();
                this.preview = true;
                reader.onload = (e) => {

                    if (reader.result.split('/')[0].split(':')[1] === 'image') {
                        this.$refs.image.src = reader.result;
                    } else {
                        this.preview = false;
                    }
                };
                reader.readAsDataURL(this.file);
            },
            removeImage() {
                this.file = ''
                this.preview = false;
            },
            async sendMessage() {
                let store = this.$store;
                let vm = this;
                vm.on_send = true;
                let form = this.setFormData(this.file)
                if (this.messages_data.trim().length > 0 || this.file !=='') {
                    $('#editor-area').val('');
                    axios.post(`/chats`,
                        form, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            },
                        }
                    ).then(function (response) {

                        vm.messages_data = '';
                        vm.file = '';
                        let content =response.data.data;
                        store.state.messages.push(content);
                        $('.attachment-preview').hide();
                        /// in a component method
                        store.commit('updateUser', {
                            body:content.body,
                            user_id:store.state.to_user.user_id,
                            sender_id:content.sender.id,
                            attachment:content.attachment,
                            order_by:content.id,
                            created_at_human:content.dates.created_at_human
                        })

                    })
                        .catch(function (error) {
                            console.log(error);
                        });

                }
            },
            setFormData(file) {
                let formData = new FormData();
                if (file) {
                    formData.append('attachment', file);
                }
                formData.append('recipient', this.$store.state.to_user.user_id);
                formData.append('body', this.messages_data);
                formData.append('chat_id', this.selected_id);
                return formData
            },
            async realTime(data) {
                axios.post(`/chat/real-time-message`, {
                    message: data
                })
            },
            showIcon() {
                $('.show-icon').css('display', 'inline-block');
            },
            onTyping() {
                let stores = this.$store.state;
                // window.Echo.private('chat').whisper('typing', {
                //     user: 'ssssssssss'
                // });

            },
            outTyping() {
                this.typing = {};
            },
            realTimeMess(){

                window.Echo.private(`chat`)
                    .listen('ChatEventsPrivate', (e) => {
                        console.log(e);
                    });
            }
        },
        mounted () {
            // [...]

            //
            // let store = this.$store;
            // let vm = this;
            // channel.listenForWhisper('typing', (e) => {
            //     this.typing = e;
            //     if (this.typingClock) clearTimeout();
            //     this.typingClock = setTimeout(() => {
            //         this.typing = {};
            //     }, 8000);
            //
            // });


            // Echo.join('online')
            //     .here(users => (this.users = users))
            //     .joining(user => this.users.push(user))
            //     .leaving(user => (this.users = this.users.filter(u => (u.id !== user.id))))
        },
        created() {
            this.auth_name = 'sssssss';

            let channel = window.Echo.private('chat-channel');
            console.log(channel)

            // channel.listenForWhisper('typing', (e) => {
            //     this.typing = e;
            //     if (this.typingClock) clearTimeout();
            //     this.typingClock = setTimeout(() => {
            //         this.typing = {};
            //     }, 8000);
            //
            // });
            channel.listen('ChatEventsPrivate', function (e) {
                console.log(e)

            });
        },
        computed: {
            selected_id() {
                return this.$store.state.selected_id;
            },

        }

    }
</script>
