<template>
    <div id="imageModalBox" class="imageModal" style="display: block;">
        <span class="imageModal-close" @click="closeImageModel()">×</span>
        <img class="imageModal-content" id="imageModalBoxSrc" :src="url">
    </div>
</template>

<script>
    export default {

        data() {
            return {
                nightModes: ''
            }
        },
        props:['url']
        ,
        methods:{
            closeImageModel(){
                this.$emit("eventCloseImage");
            }
        }

    }
</script>
