<template>
    <div v-bind:class=" nightMode">
        <div class="messenger">
            <side-bar></side-bar>
            <body-chat></body-chat>
            <info-chat></info-chat>
        </div>
    </div>

</template>

<script>
    import bodyChat from './BodyChat'
    import sidebarChat from './SideBarChat'
    import InfoChat from './InfoChat'
    export default {
        components: {
            'body-chat': bodyChat, 'side-bar': sidebarChat,
            'info-chat':InfoChat
        },

        computed: {

            nightMode() {
                return this.$store.state.nightMode
            },
        },
        data(){
            return{
                nightModes:''
            }
        }

    }
</script>
