<template>
    <div class="messenger-infoView app-scroll" style="display: block;" v-if="this.$store.state.selected_id">
        <nav>
            <a href="#">
              <i class="fas fa-times"></i> </a>
        </nav>
        <div class="avatar av-l">
            <avatar :size="100" :username="to_name" v-if="userAvatar ==''"></avatar>
                <img :src="'./storage/avatar/'+userAvatar" style="height: 100% ;  object-fit: cover;" v-else>
        </div>
        <p class="info-name">{{to_name}}</p>
        <div class="messenger-infoView-btns">
            <a href="#" class="danger delete-conversation" style="display: inline;">
                 <i class="fas fa-trash-alt"></i> Delete Conversation</a>
        </div>

        <div class="messenger-infoView-shared" style="display: block;">
            <p class="messenger-title">shared photos</p>
            <div class="shared-photos-list">
                <div class="shared-photo chat-image"
                     style="background-image: url('http://chat.test/storage/attachments/b801e5b6-6301-4726-88e1-4eb05711e855.jpg')"></div>
                <div class="shared-photo chat-image"
                     style="background-image: url('http://chat.test/storage/attachments/d6900aab-d88e-4391-99be-f2fc982785cb.jpg')"></div>

                <div class="shared-photo chat-image"
                     style="background-image: url('http://chat.test/storage/attachments/05c8ea70-4a24-43a4-bb73-4ef65fa82537.jpg')"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import Avatar from 'vue-avatar'

    export default {
        props: ['user'],
        components: {
            'avatar': Avatar,
        },
        computed: {
            userId() {
                return this.$store.state.to_user.id
            },
            to_name() {
                return this.$store.state.to_user.name
            },
            userAvatar() {
                return this.$store.state.to_user.avatar
            }
        },
        methods: {}
    }
</script>
