<template>
    <ul class="messages m-body " ref="container">
        <!-------------Loading scroll---------------->
        <infinite-loading direction="top" spinner="bubbles" @infinite="infiniteHandler" ref="infiniteLoading" >
            <span slot="no-more"></span>
        </infinite-loading>
        <!-------------List Message---------------->
        <li v-for="(message, index) in messages" :key="index" class="messages-item"  v-if="selected_id==''">
            <div :class="`message-card  ${message.sender.id == $auth.user().id ? 'mc-sender' : 'mc-user'}`">
                <!-------------Check Render avatar ---------------->
                <div class="avatar av-s   header-avatar" v-if="message.avatar"
                     v-bind:class="[renderHiddenAvatar(index,messages,message) ? 'none' : '']">
                </div>
                <div class=" header-avatar" v-else
                     v-bind:class="[renderHiddenAvatar(index,messages,message) ? 'none' : '']">
                    <avatar :size="35"  :username="message.sender.name"></avatar>
                </div>
                <!-------------Check Content message ---------------->
                <div class="item-m"
                     v-bind:style="checkMyMessage (index,messages,message)">
                    <div class="image-file chat-image" style="margin-left: 40px" @click="openImageModel(message.attachment)"
                         v-if="message.attachment && checkFileImage(message.attachment)==='image'"
                         :title=" message.dates.created_at_human ">
                        <img class="image-file chat-image"  :src="'./storage/uploads/attachments/'+message.attachment"/>
                    </div>
                    <div class="span" data-toggle="tooltip" data-placement="top" v-if="message.body || checkFileImage(message.attachment)==='file' "
                         :title=" message.dates.created_at_human "
                         v-bind:style="message.sender.id == $auth.user().id ? checkMyMessageRadius (index,messages,message) : checkYourMessageRadius(index,messages,message) ">

                        <p> {{message.body }}
                            <a :href="'./storage/uploads/attachments/'+message.attachment" class="file-download"
                               v-if="message.attachment && checkFileImage(message.attachment)==='file'">
                                <span class="fas fa-file"></span>
                                {{message.attachment}}</a>
                        </p>

                    </div>
                </div>
            </div>
            <!-------------Show date between days together ------------->
            <div v-if="showDate(index,messages,message)" class="end-date-chat text-center">
                <span> {{message.dates.created_at_human}}</span>
            </div>
        </li>
        <p class="message-hint" style="margin-top: calc(30% - 126.2px);" v-if="selected_id !==''">
            <span>No data messenger</span>
        </p>
        <ImageModel v-if="showModal"  @eventCloseImage="closeImageModel()" :url="this.link"></ImageModel>
    </ul>
</template>

<script>
    import {formatMessage} from "./../../../../mixins/formatMessage";
    import Avatar from 'vue-avatar'
    import ImageModel from './ImageModel'
    import InfiniteLoading from 'vue-infinite-loading';

    export default {

        data() {
            return {
                selected_id:'',
                page: 1,
                showModal: false,
                link:''
            }
        },

        props: ['onSend'],
        components: {
            Avatar,InfiniteLoading,ImageModel
        },
        mixins: [formatMessage],
        methods: {
            scrollToEnd() {
                let content = this.$refs.container;
                content.scrollTop = content.scrollHeight;
            },
             infiniteHandler($state) {
                let wm=this;
                axios.get('/chats/'+ this.selected_ids+'/messages?page=' + this.page)
                    .then(response => {
                        return response.data;
                    }).then(data => {

                    if ( wm.page <= data.last_page+1) {
                        $.each(data.data, function (key, value) {
                            wm.messages.unshift(value);
                        });
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });

                this.page += 1;
            },
            changeType() {
                this.page = 1;
                this.$store.state.messages = [];
            },
            openImageModel(url){
                this.link='././storage/uploads/attachments/'+url;
                this.showModal=true;
            },
            closeImageModel(){
                this.showModal=false;
            }

        }
        ,
        computed: {
            selected_ids(){
                return this.$store.state.selected_id
            },
            messages(){
                return this.$store.state.messages
            }
        },
        watch: {
            selected_ids(){
                this.changeType();
                this.$nextTick(() => {
                    this.$refs.infiniteLoading.stateChanger.reset()
                });
            }
         },
        mounted () {
            this.scrollToEnd();
        }, updated() {
            this.scrollToEnd()

        }

    };

</script>
