<template>
    <div class="m-header m-header-messaging">
        <nav>
            <div style="display: inline-flex;">
                <a href="#" class="show-listView">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <div class=" avatar av-s " style="margin-top: -5px; margin-bottom: -5px; margin-right:5px;">
                    <avatar :size="35" :username="to_name" v-if="userAvatar ==''"></avatar>
                    <img :src="'./storage/avatar/'+userAvatar" style="height: 100% ;    object-fit: cover;" v-else>
                </div>

                <a href="#" class="user-name">{{to_name}}</a>
            </div>
            <nav class="m-header-right">
                <a href="#" class="add-to-favorite" style="display: inline;">
                    <i class="fas fa-star"></i> </a>
                <a href="http://localhost/chat/public/home">
                    <i class="fas fa-home"></i></a>
                <a href="#" class="show-infoSide">
                    <i class="fas fa-info-circle" v-if="userId"></i>
                </a>
            </nav>
        </nav>
    </div>
</template>

<script>
    import Avatar from 'vue-avatar'

    export default {
        props: ['user'],
        components: {
            'avatar': Avatar,

        },
        computed: {
            userId() {
                return this.$store.state.to_user.id
            },
            to_name() {
                return this.$store.state.to_user.name
            },
            userAvatar() {
                return this.$store.state.to_user.avatar
            }
        },
        methods: {}
    }
</script>
