<template>
    <div>
        <div class="app-modal-body text-center ">
            <div class="app-modal-header">Update your profile settings</div>

            <div class=" header-avatar avatar av-l upload-avatar-preview" >
                <avatar :size="100"  :username="$auth.user().name" v-if="!url && $auth.user().avatar === '' "></avatar>
                <img v-if="url" :src="url" style="height: 100%" />
                <img v-if="!url" v-bind:src="`/storage/avatar/`+avatar" style="height: 100%" />
            </div>

            <p class="upload-avatar-details"></p> <label class="app-btn a-btn-primary update">
            Upload profile photo
            <input accept="image/*" name="avatar" type="file" class="upload-avatar" style="display: none;" @change="onFileChange"></label>
            <p class="divider"></p>
            <p class="app-modal-header">{{nightMode ==='theme-dark' ?'Light Mode ': 'Dark Mode'}}<span data-mode="" class=" fa fa-moon dark-mode-switch" v-on:click="nightModePage()" ></span></p>
            <p class="divider"></p>

        </div>
        <div class="app-modal-footer">
            <a href="javascript:void(0)" class="app-btn cancel" v-on:click="Cancel" >Cancel</a>
            <input type="submit" class="app-btn a-btn-success update" v-on:click="Submit" value="Update" />
        </div>
    </div>

</template>

<script>
    import Avatar from 'vue-avatar'

    export default {
        props: ['user'],
        data(){
            return {
                url:'',
                avatar:this.$auth.user().avatar,
            }
        },
        components: {
            'avatar': Avatar,

        },
        watch: {

        },
        computed: {
            nightMode() {
                return this.$store.state.nightMode
            },

        },
        methods: {
            onFileChange(e){
                const file = e.target.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (e) => {
                    this.url = reader.result;
                };

            },Submit(){
                const config = { headers: {'Content-Type': 'application/json'} };
                if(this.url){
                    axios.put('/setting/avatar',{
                        'avatar':this.url
                    },config)
                        .then(response => {
                            if(response.status===200){
                                this.$auth.user().avatar=response.data.avatar
                            }
                            this.$emit("eventSaved");
                        }).then(data => {

                    });
                }

            },Cancel(){
                this.$emit("eventSaved");
            },
            nightModePage() {
                // preference from localStorage should overwrite
                if (localStorage.getItem('nightMode') === '.theme-dark') {
                    localStorage.setItem("nightMode","theme-light");
                } else if (localStorage.getItem('nightMode') === 'theme-light') {
                    localStorage.setItem("nightMode","theme-dark");
                }else{
                    localStorage.setItem("nightMode","theme-light");
                }
                this.$store.commit("setNightMode",localStorage.getItem('nightMode') );
                this.$emit("eventSaved");
            }
        }
    }
</script>
