<template>
    <div class="messenger-listView">
        <div class="m-header">
            <nav>
                <a href="#"><i class="fas fa-inbox"></i> <span class="messenger-headTitle">MESSAGES</span> </a>
                <nav class="m-header-right">
                    <a v-b-modal.show-setting><i class="fa fa-cog settings-btn"></i></a>
                    <a href="#" class="listView-x"><i class="fa fa-times"></i></a>
                </nav>
            </nav>
            <input type="text" @keyup="search()" v-model="searchText" class="search-key messenger-search"
                   placeholder="Search">
            <div class="messenger-listView-tabs">
                <a href="#" class="active-tab" data-view="users">
                    <span class="fa fa-user"></span> People</a>
                <a href="#" class="" data-view="groups">
                    <span class="fa fa-users"></span> Groups</a>
            </div>
        </div>
        <div class="m-body">
            <div class=" show messenger-tab app-scroll" data-view="users">
                <p class="messenger-title">Favorites</p>
                <div class="messenger-favorites app-scroll-thin" v-if="this.selected_id==''">
                    <p class="message-hint"><span>Your favorite list is empty</span></p>
                </div>
                <div class="listOfContacts" style="width: 100%;height: calc(100% - 200px);">
                    <!--                    <table class="messenger-list-item m-li-divider " v-for="(value, index )  in users"-->
                    <!--                           :class="{ 'm-list-active': value.id === selected_id }">-->
                    <!--                        <tbody>-->
                    <!--                        <tr @click="activeChat(value)" v-if="value.id==users_id">-->
                    <!--                            <td>-->
                    <!--                                <div class="avatar av-m" style="background-color: #d9efff; text-align: center;">-->
                    <!--                                    <span class="fa fa-bookmark"-->
                    <!--                                          style="font-size: 22px; color: #68a5ff; margin-top: calc(50% - 10px);"></span>-->
                    <!--                                </div>-->
                    <!--                            </td>-->
                    <!--                            <td>-->
                    <!--                                <p data-id="user_1">Saved Messages <span>You</span></p>-->
                    <!--                                <span>Save messages secretly</span>-->
                    <!--                            </td>-->
                    <!--                        </tr>-->
                    <!--                        </tbody>-->
                    <!--                    </table>-->

                    <table class="messenger-list-item " :class="{ 'm-list-active': value.id === selected_id }"
                           v-for="(value, index )  in orderedUsers " :key="index">
                        <tbody>
                        <tr @click="activeChat(value)">
                            <td style="position: relative">
                                <div class="avatar av-m"
                                     :style='{ backgroundImage: "url(../storage/avatar/" + value.avatar+ ")", }'
                                     v-if=" value.avatar !=''">
                                </div>
                                <div class=" header-avatar" v-else>
                                    <avatar :size="35" :username="value.name"></avatar>
                                </div>
                            </td>

                            <td>
                                <p data-id="user_2">
                                    {{value.name}}
                                    <span>{{ value.created_at_human }}</span></p>

                                <span class="last-message">
                                   {{value.sender_id == users_id ? 'You :' : ''}} {{ value.body  }}
                                     <span class="fas fa-file" v-if="value.attachment">     Attachment</span>

                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" messenger-tab app-scroll" data-view="groups">
                <p style="text-align: center;color:grey;">Soon will be available</p>
            </div>

            <div class="messenger-tab app-scroll" data-view="search">
                <p class="messenger-title">Search</p>

            </div>
        </div>
        <b-modal id="show-setting" title="Update your profile settings" hide-footer hide-header ref="show-setting">
            <setting-profile @eventSaved="closeModal()"></setting-profile>
        </b-modal>
    </div>

</template>

<script>
    import Avatar from 'vue-avatar'
    import Setting from './SettingProfile'
    import * as moment from "moment";

    export default {

        data() {
            return {
                items: [],
                users: [],
                users_id: this.$auth.user().id,
                selected_id: '',
                searchText: '',
                search_c: false,
            }

        },
        components: {
            Avatar,
            'setting-profile': Setting,

        },
        methods: {
            fetchUserChat() {
                axios.get('/chats')
                    .then(response => {
                        response.data.data.forEach(item => {
                            this.$store.state.users.push({
                                id: item.id,
                                user_id: item.participants[1].id,
                                sender_id: item.latest.sender.id,
                                name: item.participants[1].name,
                                avatar: item.participants[1].avatar,
                                body: item.latest.body,
                                attachment: item.latest.attachment,
                                created_at:   moment(item.latest.dates.created_at).format("YYYY-MM-DD hh:mm:ss"),
                                created_at_human: item.latest.dates.created_at_human,
                                is_unread: item.is_unread,
                                order_by:item.latest.id
                            });
                        });

                    })
            },
            activeChat(data) {
                this.selected_id = data.id;
                this.$store.commit("setMessageId", data.user_id);
                this.$store.state.to_user = data;
                this.$store.state.selected_id = data.id
            },
            closeModal() {
                this.$refs["show-setting"].hide();

            },
        },
        created() {
            this.fetchUserChat();
        },
        computed: {
            orderedUsers: function () {
                return this.$store.state.users.sort((a, b) => { return b.order_by - a.order_by;});
            }
        }

    }
</script>
